<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Formulario</title>
</head>
<body>
    <form id="miFormulario">

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="cedula">Cedula:</label>
        <input type="number" id="cedula" name="cedula" required><br>

        <label for="ubicacion">Ubicacion:</label>
        <input type="text" id="ubicacion" name="ubicacion" required>

        <button type="button" id="enviar-btn">Enviar</button>
    </form>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="../static/javascript/formularioScript.js"></script>
</body>
</html>